<h1>Booking Confirmation</h1>

<p>Booking ID: <%= @booking.id %></p>

<hr>
<%= render 'flight_info' %>
<hr>

<p>Passengers:</p>
<ol>
	<% @booking.passengers.each do |passenger| %>
		<li><%= passenger.name %></li>
	<% end %>
</ol>

<%= link_to 'Book Another Flight', root_path %>
